.btn,
button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
  display: inline-block;
  align-items: flex-start;
  text-align: center;
  border-width: 1px;
  border-style: solid;
  border-color: @default-fg;
  background-color: @default-bg;
  text-decoration: none;
  padding: @gutter;
  margin: 0;
  font: 1rem 'Open Sans', sans-serif;
  cursor: pointer;
  color: @default-fg;

  &:active,
  &:focus,
  &:hover {
    text-decoration: none;
  }
}

.btn-red {
  color: white;
  background-color: @red;
  border-color: darken(@red, 12%);

  &:active,
  &:focus,
  &:hover {
    color: white;
    background-color: darken(@red, 12%);
  }
}

.btn-green {
  color: white;
  background-color: @green;
  border-color: darken(@green, 12%);

  &:active,
  &:focus,
  &:hover {
    color: white;
    background-color: darken(@green, 12%);
  }
}

.btn-blue {
  color: white;
  background-color: @blue;
  border-color: darken(@blue, 12%);

  &:active,
  &:focus,
  &:hover {
    color: white;
    background-color: darken(@blue, 12%);
  }
}

.btn-orange {
  color: white;
  background-color: @orange;
  border-color: darken(@orange, 12%);

  &:active,
  &:focus,
  &:hover {
    color: white;
    background-color: darken(@orange, 12%);
  }
}

.theme-buttons(@themes);
