@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');

html {
  font-size: @root-font-size;
  font-family: 'Open Sans', sans-serif;
}

body {
  line-height: 1.2;
}

h1, h2, h3, h4, h5, h6 {
  margin: @gutter 0;
  font-weight: 600;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.8rem;
}

h3 {
  font-size: 2.4rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.4rem;
}

h6 {
  font-size: 1.2rem;
}

.small,
small {
  font-size: 0.84rem;
}

p {
  margin-bottom: @gutter;
}

.matter {
  letter-spacing: 1px;
  font-size: 1.4rem;
}

.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

a {
  text-decoration: none;

  &:active,
  &:focus,
  &:hover {
    text-decoration: underline;
  }
}

//
// Box sizing
//
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: border-box;
}

//
// Colors
//
html {
  color: @default-fg;
}

.text-default,
a {
  color: @default-fg;
}
a.text-default,
a {
  &:active,
  &:focus,
  &:hover {
    color: darken(@default-fg, 12%);
  }
}

.text-success,
.text-green {
  color: @green;
}
a.text-success,
a.text-green {
  &:active,
  &:focus,
  &:hover {
    color: darken(@green, 12%);
  }
}

.text-info,
.text-blue {
  color: @blue;
}
a.text-info,
a.text-blue {
  &:active,
  &:focus,
  &:hover {
    color: darken(@blue, 12%);
  }
}

.text-error,
.text-red {
  color: @red;
}
a.text-error,
a.text-red {
  &:active,
  &:focus,
  &:hover {
    color: darken(@red, 12%);
  }
}

.text-warning,
.text-orange {
  color: @orange;
}
a.text-warning,
a.text-orange {
  &:active,
  &:focus,
  &:hover {
    color: darken(@orange, 12%);
  }
}

.theme-text(@themes);
