//
// sizes
//
@root-font-size: 14px;
@gutter: 1rem;

//
// color themes
//

// common colors
@green: #41B741;
@orange: #E5B452;
@red: #E55252;
@blue: #415C99;

@success: @green;
@warning: @orange;
@error: @red;
@info: @blue;

@themes: default, primary, secondary;

// default color theme
@default-bg: #FFFFFF;
@default-bg-dark: #666666;
@default-bg-light: #FFFFFF;
@default-fg: lighten(#000000, 16%);
@default-fg-light: contrast(@default-bg-light, @default-bg-dark, @default-bg-light);
@default-fg-dark: contrast(@default-bg-dark, @default-bg-dark, @default-bg-light);

// primary color theme
@primary-bg: #5B83AD;
@primary-bg-light: lighten(@primary-bg, 26%);
@primary-bg-dark: darken(@primary-bg, 26%);
@primary-fg: contrast(@primary-bg);
@primary-fg-light: contrast(@primary-bg-light, @primary-bg-dark, @primary-bg-light);
@primary-fg-dark: contrast(@primary-bg-dark, @primary-bg-dark, @primary-bg-light);

// secondary color theme
@secondary-bg: #835FB3;
@secondary-bg-light: lighten(@secondary-bg, 26%);
@secondary-bg-dark: darken(@secondary-bg, 26%);
@secondary-fg: contrast(@secondary-bg);
@secondary-fg-light: contrast(@secondary-bg-light, @secondary-bg-dark, @secondary-bg-light);
@secondary-fg-dark: contrast(@secondary-bg-dark, @secondary-bg-dark, @secondary-bg-light);
